@import '../mixins.scss';

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn .4s ease;
}

.full {
  @extend .wrapper;
  @include sm {
    padding-top: 100px;
  }
}

.transition {
  @extend .full;
  animation: fadeOut .4s ease forwards;
}


@keyframes fadeOut {
  to { opacity: 0;}
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}