@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.cardWrapper {
  display: flex; 
  flex-direction: column;
  width: 50%; 
  margin: 20px 0;

  @include lg {
    width: 60%;
  }

  @include md {
    width: 70%;
  }

  @include sm {
    width: 80%;
  }
  
  @include xs {
    width: 90%;
  }
  .picCont {
   position: relative;
   transition: all 1s ease;

  &:hover{
   transform: scale(1.015);
   cursor: pointer;

   .playCover {
     visibility: visible;
     background: rgba(black,0.5);

     svg {
       opacity: 100;
     }
   }
  }

  .playCover {
    visibility: hidden;
    position: absolute; 
    border-radius: 10px 10px 0 0;
    height: 99.5%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: all .7s ease;

    svg {
      opacity: 0;
      transition: all .7s ease;
    }
  }

    img {
      border-radius: 10px 10px 0 0;
      height: 80%; 
      width:100%;
    }

    p {
      position: absolute; 
      right: 10px;
      bottom: -10px; 
      background-color: $primary_color; 
      color: white; 
      padding: 5px 10px; 
      border-radius: 5px;  
      border: 2px solid #1E2425;
    }
  }
}