@import '../../variables.scss';

.cardWrapper {
  display: flex; 
  flex-direction: column;
  max-height: 20%; 
  max-width: 50%; 
  margin: 20px 0;
  
  .picCont {
   position: relative;
   transition: all 1s ease;

  &:hover{
   transform: scale(1.015);
   cursor: pointer;
  }

    img {
      border-radius: 10px 10px 0 0;
      height: 80%; 
      width:100%;
    }

    p {
      position: absolute; 
      right: 10px;
      bottom: -10px; 
      background-color: $primary_color; 
      color: white; 
      padding: 5px 10px; 
      border-radius: 5px;  
      border: 2px solid #1E2425;
    }
  }
}

.detailBar {
  display: flex; 
  height: 15%; 
  align-items: center; 
  margin-top: 8px; 
  background-color: #323947; 
  border-radius: 0 0 5px 5px; 
  border: 2px solid #1E2425;

  .picHousing {
    height: 100%; 
    width: 20%; 
    padding: 5px 0;

    img {
      height:100%; 
      width:60%;
      border-radius: 5px;
    }
  }

  .videoDetails {
    display: flex; 
    position: relative;
    width: 80%; 
    align-items: flex-start; 
    color: white; 
    font-size: 15px;

    p {
      margin: 5px 0;
      color: white;
    }

    #title {
      font-size: 18px;
    }

    #chanTitle {
      color: #FF8D0A;

      span {
        color: white; 
        margin-left: 20px; 
        font-size: 12px;
      }

      #pubTime {
        margin-left: 5px;
      }
    }

    .toolTip{
      position: relative;

      &:hover{
        cursor: pointer;
        
        #tooltipText {
          visibility: visible;
        }
      }

      .menu {
        visibility: hidden;
        position: absolute; 
        left: -35px;  
        list-style: none;
        z-index: 1; 
        width: 100px; 
        margin: 0px; 
        padding: 10px; 
        background: $primary_color;
        border: 2px solid darken($primary-color, 7%);
        border-radius: 5px;
        
        li {
          margin: 3px 0; 
          padding: 2px;

          &:hover {
            background: lighten($primary_color, 8%);
          }
        }
      }

      #tooltipText{
        visibility: hidden;
        position: absolute;
        left: 50px;
        font-size: 12px;
        background-color: grey;
        border-radius: 5px;
        transition: visibility ease 1s;
        transition-delay: .5s;
      }

      .iconButton{
        height: 50px;
        width: 50px;
        transition: all .5s ease;

        &:hover {
          transform: scale(1.15);
        }

      }

      .iconButtonActive{
        height: 50px;
        width: 50px;
        transition: all .5s ease;
        transform: scale(1.15) rotate(90deg);
      }
    }
    
    .toolTipActive{
      @extend .toolTip;
      
      .menu {
        visibility: visible;
      }

      &:hover{
        #tooltipText {
          visibility: hidden;
        }
      }
    }

  }
}