@import '../../variables.scss';
@import '../../mixins.scss';

.cardWrapper {
  display: flex; 
  flex-direction: column;
  width: 50%; 
  margin: 20px 0;

  @include lg {
    width: 60%;
  }

  @include md {
    width: 70%;
  }

  @include sm {
    width: 80%;
  }
  
  @include xs {
    width: 90%;
  }
  .picCont {
   position: relative;
   transition: all 1s ease;

  &:hover{
   transform: scale(1.015);
   cursor: pointer;

   .playCover {
     visibility: visible;
     background: rgba(black,0.5);

     svg {
       opacity: 100;
     }
   }
  }

  .playCover {
    visibility: hidden;
    position: absolute; 
    border-radius: 10px 10px 0 0;
    height: 99.5%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: all .7s ease;

    svg {
      opacity: 0;
      transition: all .7s ease;
    }
  }


    img {
      border-radius: 10px 10px 0 0;
      height: 80%; 
      width:100%;
    }

    p {
      position: absolute; 
      right: 10px;
      bottom: -10px; 
      background-color: $primary_color; 
      color: white; 
      padding: 5px 10px; 
      border-radius: 5px;  
      border: 2px solid #1E2425;
    }

    .notification{
      visibility: hidden;
      background-color: $primary-color;
      border-radius: 3px;
      position: absolute;
      color: white;
      bottom: 10px;
      left: 10px;
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &--active{
        @extend .notification;
        visibility: visible;
      }
      
      &--error{
        @extend .notification;
        visibility: visible;
        background-color: red;
      }
    }
  }
}

.detailBar {
  display: flex; 
  height: 15%; 
  align-items: center; 
  margin-top: 8px; 
  background-color: #323947; 
  border-radius: 0 0 5px 5px; 
  border: 2px solid #1E2425;

  .picHousing {
    height: 100%; 
    width: 20%; 
    padding: 5px 0;

    img {
      height:100%; 
      width:60%;
      border-radius: 5px;
    }
  }

  .videoDetails {
    display: flex; 
    position: relative;
    width: 80%; 
    align-items: flex-start; 
    color: white; 
    font-size: 15px;

    p {
      margin: 5px 0;
      color: white;
    }

    #title {
      font-size: 18px;
      @include sm {
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    #chanTitle {
      color: #FF8D0A;

      @include sm {
        font-size: 12px;
      }

      span {
        color: grey; 
        margin-left: 20px; 
        font-size: 12px;

        @include sm {
          margin-left: 10px;
        }
      }

      #pubTime {
        margin-left: 5px;
      }
    }

    .toolTip{
      position: relative;

      &:hover{
        cursor: pointer;
        
        #tooltipText {
          visibility: visible;
        }
      }

      .menu {
        width: 100px;
        position: absolute; 
        display: flex;
        flex-direction: column;
        z-index: 1; 
        background: $primary_color;
        border: 2px solid darken($primary-color, 7%);
        border-radius: 5px;
        left: -30px;
        
        @include xs {
          left: -55px;
        }
        
        p {
          margin: 0;
          padding: 7px;
          &:hover {
            background: lighten($primary_color, 8%);
          }
        }
      }

      #tooltipText{
        visibility: hidden;
        position: absolute;
        left: 5px;
        top: -30px;
        padding: 5px;
        font-size: 12px;
        background-color: grey;
        border-radius: 5px;
      }

      .iconButton{
        height: 50px;
        width: 50px;
        transition: all .3s ease;
        
        &:hover {
          transform: scale(1.15);
        }

        &--active {
          @extend .iconButton;
          &:hover {
            transform: rotate(90deg) scale(1.15);
          }
          transform: rotate(90deg) scale(1.15);
        }
        
        @include sm {
          height: 35px;
          width: 35px;
        }
      }
    }
    
    .toolTipActive{
      @extend .toolTip;
      
      .menu {
        visibility: visible;
      }

      &:hover{
        #tooltipText {
          visibility: hidden;
        }
      }
    }

  }
}