header {
  height: 80%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  color: white;
  position: fixed;
  right: 10px;

  a {
    padding: 10px; 
    text-decoration: none; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease; 
  }

  svg {
    transition: all .5s ease;
  }
} 